.line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
label, p, h5{
    color: #444444;
}
.active{
    // background-color: #171717;
    color: white;
    font-size: 35px;
}
.flex-center{
    display: flex;
    align-items: center //space-around;
} 