<br><br>

<ng-container>
    <div class="container-sm">
        <form [formGroup]="formSearch" (submit)="onSubmit()">
            <h3 for="">Type comic's kind of format: </h3>
            <div class="form-floating mb-3">
                <input name="nameFormat" class="form-control" id="floatingInput" formControlName="nameFormat"
                    type="text" placeholder="comic/collection"> <br>
                <label for="floatingInput">comic/collection</label>
            </div>
            <label style="color: white;"
                *ngIf="formSearch.get('nameFormat')?.errors && formSearch.get('nameFormat')?.touched && formSearch.get('nameFormat')?.dirty">
                <h3>Required name!</h3>
            </label>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger" [disabled]="!formSearch.valid" type="submit"> Search </button>
            </div>
        </form>
    </div>
</ng-container>

<br>
<hr>

<div class="container text-center">
    <div class="row row-cols-4">
        <div class="col card-margin" *ngFor="let comic of comicsFormat | async">
            <div class="card">
                <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" class="card-img-top"
                    alt="{{comic.title}}">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <p class="card-text">{{comic.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>