<div class="navbar">
    <ul>
        <li routerLink="/characterMarvel/startWith" routerLinkActive="active"> <a>Search for first words</a> </li>
        <li routerLink="/characterMarvel/list" routerLinkActive="active"> <a>List of heroes</a> </li>
    </ul>
</div>

<br><br><hr>

<!-- <div class="line">
    <div *ngFor="let character of allCharacters | async" >
        <div >
            <img width="100" height="100" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">
            <div>
                <h3>{{character.name}}</h3>
            </div>
        </div>
    </div>
</div> -->




<!-- <p *ngFor="let character of allCharacters | async"> {{character|json}} </p> -->
