<br><br>

<ng-container>
  <div class="container-sm">
    <form [formGroup]="formSearch" (submit)="onSubmit()">
      <h3 for="">Type the hero's first words: </h3>
      <div class="form-floating mb-3">
        <input name="nameStart" class="form-control" id="floatingInput" formControlName="nameStart" type="text"
          placeholder="Spi"> <br>
        <label for="floatingInput">Spi</label>
      </div>
      <label style="color: white;"
        *ngIf="formSearch.get('nameStart')?.errors && formSearch.get('nameStart')?.touched && formSearch.get('nameStart')?.dirty">
        <h3>Required name!</h3>
      </label>
      <div class="d-flex justify-content-center">
        <button class="btn btn-danger" [disabled]="!formSearch.valid" type="submit"> Search </button>
      </div>
    </form>
  </div>
</ng-container>

<br>
<hr>

<div class="container text-center">
  <div class="row row-cols-4">
    <div class="col card-margin" *ngFor="let characterStart of startWithCharacters | async">
      <div class="card">
        <img src="{{characterStart.thumbnail.path}}.{{characterStart.thumbnail.extension}}" class="card-img-top"
          alt="{{characterStart.name}}">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <p class="card-text">{{characterStart.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>