<div id="logo">
  <h1><i> MARVEL API </i></h1>
</div>
<section class="stark-login">

  <div class="flex-center">
    <form action="" method="">
      <div id="fade-box">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
  
        <button>Log In</button>
      </div>
    </form>
  </div>


  <div class="hexagons flex-center">
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <br>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <br>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>

    <br>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <br>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
    <span>&#x2B22;</span>
  </div>
</section>

<div id="circle1">
  <div id="inner-cirlce1">
    <h2> </h2>
  </div>
</div>


<!-- 
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul> -->