.active-menu {
    // border-right: solid 2px red;
    border-right: solid 2px #EDEDED;
    background-color: #DA0037;
    color: #EDEDED;
}

.mat-list-item {
    color: #fff;
}

.avatar {
    background-color: black !important;
    color: #fff;
    font-size: x-large;
}

.mat-card-avatar {
    transform: scale(1.5);
}

.user {
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-drawer-inner-container {
    background-color: black !important;
}

// .navigator-container{
//     background-color: black;
// }