<br><br>
<hr>

<div class="container text-center">
  <div class="row row-cols-4">
    <div class="col card-margin" *ngFor="let character of allCharacters | async">
      <div class="card space-bottom" >
        <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top"
          alt="{{character.name}}">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <p class="card-text">{{character.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>